body {
  background: -webkit-linear-gradient(90deg, #8a6eee 10%, #9db1f1 90%);
  background:    -moz-linear-gradient(90deg, #8a6eee 10%, #9db1f1 90%);
  background:     -ms-linear-gradient(90deg, #8a6eee 10%, #9db1f1 90%);
  background:      -o-linear-gradient(90deg, #8a6eee 10%, #9db1f1 90%);
  background:         linear-gradient(90deg, #8a6eee 10%, #9db1f1 90%);
  display: flex;
  justify-content: center;
}

.container {
  display: inline-block;
  width: 450px;
  margin-top: 100px;
}

.title {
  text-align: center;
  color: rgb(12, 11, 11);
}

.new-task {
  display: block;
  width: 100%;
  background-color: azure;
  border-radius: 10px;
  height: 30px;
  border-color: rgb(29, 12, 12);
  border-width: 5px;
  text-align: center;
  font-size: 19px;
  margin-bottom: 10px;
}

.test-label {
  text-align: center;
  color: white;
}

.task-container {
  width: 30%;
  background-color: azure;
  border-radius: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  border-left: 8px solid rgb(240, 11, 11) !important;
}

.task { 
  margin: 0;
  padding: 0px 0px 0px 5px;
  text-align: center;
  
}


 

